server:
  tomcat:
    uri-encoding: UTF-8
  port: 8081
  context-path: /
spring:

  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect


  datasource:
    platform: postgres
    url: jdbc:postgresql://localhost:5433/rodb
    username: postgres
    password: abc123
    driver-class-name: org.postgresql.Driver